.navBar {
  position: fixed;         /* lock it at the top */
  top: 0;
  left: 0;
  width: 100%;             /* full width */
  height: 70px;            /* adjust to your design */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #c8102e;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000; 
}

.logo {
  flex: 1; /* takes left side */
}

.headerText {
  flex: 2; /* center portion */
  text-align: center;
  color: rgb(255, 255, 255);
}

.quickAccess {
  flex: 1; /* right side */
  text-align: right;
}

.quickAccess button {
  margin:5px;
  font-size: 15px;
  padding: 5px;
  color: black;
  background-color: #F1BE48;
  font:bold;

}

.body {
  background-color: #CAC7A7;
  padding: 2rem;
  text-align: center;
  height:500vh;
  position:relative;
  margin-top: 70px;
  
}

.goal {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}

.goalDescription {
  color: rgb(0, 0, 0);
  font-size: 25px;
}